body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rave {
    background-color: black;
}


button {
    width: 120px;
    height: 50px;
    margin: 10px;
    font-size: 1.5em;
}

.bear {
    width: 250px;
    border: yellowgreen solid 3px;
}